[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.websocketapp
Exec=/usr/bin/ru.auroraos.websocketapp
Name=Web Socket App
Name[ru]=Приложение на вебсокетах

[X-Application]
Permissions=Sensors;PushNotifications;DeviceInfo;Audio;Bluetooth;Camera;Internet;Location;MediaIndexing;RemovableMedia;UserDirs
OrganizationName=ru.auroraos
ApplicationName=websocketapp
ExecDBus=/usr/bin/ru.auroraos.websocketapp
